html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.faq-container {
    flex: 1;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h4 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.faq-toggle {
    font-size: 1.5em;
    font-weight: bold;
    color: #007BFF;
}

.faq-answer {
    display: none;
    margin-top: 15px;
}

.faq-answer p {
    margin: 0;
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}

.main-footer-credit {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #dee2e6;
}

.navbar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.nav-links {
    justify-content: center;
    gap: 25px; /* Jarak antar tombol */
    margin-bottom: 20px; /* Jarak dari tombol ke search bar */
}

.search-container {
    justify-content: center;
}
